RewriteEngine On

# Aumentar el tamaño máximo de subida de archivos
php_value upload_max_filesize 100M
php_value post_max_size 120M
php_value memory_limit 256M
php_value max_execution_time 300
php_value max_input_time 300

# Redirigir todas las solicitudes HTTP a HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Si el archivo o directorio no existe, redirigir todo a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]


<IfModule mod_expires.c>
    ExpiresActive Off
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
